name: Checks

on:
  workflow_call:

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Setup Node.js and pnpm
        uses: ./.github/actions/setup-pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Lint check
        run: pnpm run lint

      - name: Format check
        run: pnpm run format

      - name: Test
        run: pnpm run test

      - name: Check version consistency
        run: pnpm run version:check

      - name: Build
        run: pnpm run build
