name: Create Release & Publish To NPM

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  checks:
    uses: ./.github/workflows/_checks.yml

  create-release:
    # prevents this action from running on forks
    if: github.repository == 'cswkim/discogs-mcp-server'
    needs: checks
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6

      - name: Extract release notes
        id: extract-release-notes
        uses: cswkim/extract-release-notes@main

      - uses: ncipollo/release-action@v1
        with:
          body: ${{ steps.extract-release-notes.outputs.release_notes }}

  publish:
    # prevents this action from running on forks
    if: github.repository == 'cswkim/discogs-mcp-server'
    runs-on: ubuntu-latest
    needs: create-release
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v6

      - name: Setup Node.js and pnpm
        uses: ./.github/actions/setup-pnpm
        with:
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm run build

      - name: Publish to npm
        run: pnpm publish --access public --no-git-checks
